<div class="row-fluid">
	<div class="span12">
		<div class="hero-unit home">
		  <h1>Welcome to Markr!</h1>
		  <br/>
			<div class="row-fluid options">
			  <div class="span3">
			  	<div class="center-button-table"><div class="center-button-cell">
		  		<% if current_user%>
		  			<%= link_to "Edit Account »", '#', :class=>"btn btn-cherry btn-large signup-modal-link" %>
		  			<div id="signup-modal-holder">
			  			<%= render '/users/modal_edit' %>
			  		</div>
			  	<% else %>
		  			<%= link_to "Sign Up »", '#', :class=>"btn btn-cherry btn-large signup-modal-link" %>
		  			<!-- Something that triggers login-->
		  			<div id="signup-modal-holder">
			  			<%= render '/users/modal_new' %>
			  		</div>
			  	<% end %>
		  		<br />
		  		<a href="#" id="signing-anchor-link" data-toggle="tooltip" title="This button brings up a form to verify you're human." data-placement="bottom" style="font-size: 14px; font-weight:500;line-height:14px;">More Information.</a>
			  	</div></div>
			  </div>
			  <div class="span3">
			  	<div class="center-button-table"><div class="center-button-cell">
		  			<%= link_to "Log In »", login_path, :class=>"btn btn-warning btn-large" %>
		  		<br />
		  		<a href="#" id="signing-anchor-link" data-toggle="tooltip" title="If you're logged out, you can also login by clicking the top-right dropdown menu." data-placement="bottom" style="font-size: 14px; font-weight:500;line-height:14px;">For Returning Users.</a>
			  	</div></div>
			  </div>
			  <div class="span3">
			  	<div class="center-button-table"><div class="center-button-cell">
			  		<a href="/playlists/1" class="btn btn-success btn-large">Browse &raquo;</a><br />
			  		<a href="#" data-toggle="tooltip" title="This button will take you my playlist so can check out how one looks." data-placement="bottom" style="font-size: 14px; font-weight:500;line-height:14px;">More Information.</a>
			  	</div></div>
			  </div>
			  <div class="span3">
			  	<div class="center-button-table"><div class="center-button-cell">
			  		<% if current_user%>
				  		<a href="#" class="btn btn-primary btn-large new-bookmark-modal-link">Get Started <i class="icon-plus icon-white"></i></a><br />
			  			<div id="new-bookmark-modal-holder">
				  			<%= render '/user_bookmarks/modal_new' %>
				  		</div>
				  		<a href="#threeways" id="add-anchor-link" data-toggle="tooltip" title="Click this link to scroll to the part about adding boomkmarks." data-placement="bottom" style="font-size: 14px; font-weight:500;line-height:14px;">More Information.</a>
			  		<% else %>
				  		<a href="#" class="btn btn-primary btn-large disabled">Add A Link <i class="icon-plus icon-white"></i></a><br />
				  		<a href="/signup" id="add-anchor-link" data-toggle="tooltip" title="This button is disabled because you're not logged into any kind of account. Click this link to sign up." data-placement="bottom" style="font-size: 14px; font-weight:500;line-height:14px;">More Information.</a>
			  		<% end %>
			  	</div></div>
			  </div>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid info2">
	<div class = "span8">
		<div class="row-fluid">
			<h3 id="threeways">Three Ways to Add Links</h3>
		  <div class="span4">
		    <div class="feature">
		    	<div>
					      <a href="#threeways" class="btn btn-block btn-primary">Bookmarklet</a>
					      <%= image_tag "bookmark.png" %>
				  </div>
		    </div>
		    <div class="more-info">
			    <p class="contains_bookmarklet">Drag this icon <a id="bookmarklet" href ="javascript:(function(){jq=document.createElement('SCRIPT');jq.type='text/javascript';jq.src='//stormy-thicket-5927.herokuapp.com/jsfiles/jquery_bookmarklet.min.js';document.getElementsByTagName('head')[0].appendChild(jq);})();"><%= image_tag 'bookmarklet.png' %></a> and drop it in your bookmark bar. Click it when you're on another site and a small form will show up</p><br />
					<%= image_tag 'Bookmarklet Example.png' %>
		  	</div>
		  </div>
		  <div class="span4">
		    <div class="feature"><div>
			      <a href="#threeways" class="btn btn-block btn-primary">Drag &amp; Drop</a>
			      <%= image_tag "blood-drop-icon.png" %>
					</div></div>
		    <div class="more-info">Drag the link to a video from any other site into the Markr home (here), account main, or playlist page.<br />
		    <%= image_tag 'dragondrop.png' %></div>
		  </div>
		  <div class="span4">
		    <div class="feature">
		    	<div>
		      <a href="#threeways" class="btn btn-block btn-primary">Form</a>
		      <%= image_tag "form.png" %>
		    </div>
		    </div>
		    <div class="more-info">Click the standard "Add A Link" button to manually add your favorite links on a form. <br/> 
		    	<% if current_user%>
			  		<br /><br /><br /><br />
			  		<div style="margin-left:auto; margin-right:auto; width:60%">
				  		<a href="#" class="btn btn-primary btn-block new-bookmark-modal-link">Add A Link <i class="icon-plus icon-white"></i></a>
				  	</div>
		  		<% end %>
			  </div>
		  </div>
		</div>
	</div>

	<div class="span4">
		<h3>Info</h3>
		This site is intended as a <strong>safe</strong> place to
		<ul>
			<li><strong>Access</strong> - from <i>markr.com/YourUserName</i></li>
			<li><strong>Watch</strong> - videos from your playlists</li>
			<li><strong>Categorize</strong> - links and videos for easy viewing</li>
		</ul>
		your videos/images. 
		<br /><br />
		<p> markr.com does not and has no intention of collecting your e-mail or any other information which can be traced back to your offline identity. <p>
	</div>
</div>
</div>