<%= form_for @playlist do |f| %>
  <% if @playlist.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @playlist.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :playlist_name %><br />
    <%= f.text_field :playlist_name %>
  </div>
  <div class="actions"><%= f.submit "Create Playlist" %></div>
<% end %>

<p>
<%= link_to 'Playlist Index', playlists_path%>
</p>