<div class="bookmark">
	<div class ="show_bookmark row-fluid">
    <div class="span2">
      <% if !(user_bookmark.bookmark_url.thumbnail_urls.nil?) %> 
      	<%= thumbnail_image_tag user_bookmark.bookmark_url %>
    	<% else %>
	      <!-- <img src="/assets/blergh.png" size="75x75"></img> -->
	      <p class="dunno-lol"><b>¯\(ツ)/¯</b></p>
    	<% end %>
    </div>
  	<div class="span5">
    	<div class="list-title-link">
  			<%= link_to ((user_bookmark.bookmark_name.nil?) ? user_bookmark.bookmark_url.url : user_bookmark.bookmark_name ),user_bookmark.bookmark_url.url, class:"media-body"%>
  		</div>
  	</div>
		<div class="span5 actionRelative">
			<div class="list-action-links pull-right">
				<% if user_bookmark.bookmark_url.embed %>
					<a href='#', class="btn btn-mini btn-success watch" >watch <i class="icon-play icon-white"></i></a>
				<% else %>
					<a href= '<%= user_bookmark.bookmark_url.url %>', class="btn btn-mini btn-success visit" >visit <i class="icon-share icon-white"></i></a>
				<% end %>
				<a href='#', class="btn btn-mini btn-primary expand" >expand <i class="icon-chevron-right icon-white"></i></a>
			</div>
		</div>
	</div>
	<div class="detail_bookmark">
  	<div class="show_bookmark_detail">
		<div class="sidebar-title">Detail</div>
  		<div class = "pull-right detail-action-links">
  			<%= link_to('<i class="icon-play icon-white"></i> watch'.html_safe, '#', class: 'watch_link btn btn-mini btn-success', "data-toggle" =>"button", "type"=>"button") if user_bookmark.bookmark_url.embed %>
		  	<% if user_bookmark.playlist.user == current_user %>
		  		<div class="btn-group">
						<%= link_to('<i class="icon-edit icon-white"></i> edit'.html_safe, '#', class: 'edit_link btn btn-mini btn-info', "data-toggle" =>"button", "type"=>"button") %>
						<%= link_to('<i class="icon-th-list icon-white"></i> move'.html_safe, '#', class: 'move_link btn btn-mini btn-info',"data-toggle" =>"button", "type"=>"button")%>
					</div>
				<% else %>
					<%= link_to '<i class="icon-th-list icon-white"></i> grab'.html_safe, '#', class: 'move_link btn btn-mini btn-info', "data-toggle" =>"button", "type"=>"button" %>
				<% end %>
				<%= link_to '<i class="icon-chevron-left icon-white"></i> collapse'.html_safe, '#', class: 'collapse_link btn btn-mini btn-primary',"type"=>"button" %>
			</div>
  		<br /><br /><br />
  		<p><b>Title:&nbsp;&nbsp;</b></p>
  		<% if user_bookmark.bookmark_name %>
  			<pre><%= user_bookmark.bookmark_name %></pre>
  		<% end %><br />
			<p><b>Link:&nbsp;&nbsp;</b></p>
  		<% if user_bookmark.bookmark_url.url %>
  			<pre><%= link_to user_bookmark.bookmark_url.url, user_bookmark.bookmark_url.url %></pre>
  		<% end %>
  		<br/>
  		<% if !current_user.nil? %>
  		<% if current_user.id == @playlist.user.id or current_user.admin %>
	  	<div class="pull-right">
				<%= link_to '<i class="icon-trash icon-white"></i> Remove Bookmark'.html_safe, [@playlist, user_bookmark], :method => :delete, :remote => true, :confirm => "Are you sure you want to delete this bookmark?" , class: "remove_link btn btn-mini btn-warning" %>
			</div>
			<% end %>
			<% end %>
  		<br/>	
  	</div>
  	<div class="edit_bookmark_fields"%>
  		<br />
  		<br />
	  	<%= form_for user_bookmark, :url => [@playlist , user_bookmark] , :html => {:method => :put, "data-type" => "html"}, :remote => :true do |f| %>
				<%= f.label :bookmark_name, "Title " %> 
				<%= f.text_field :bookmark_name %><br />
				<%= f.fields_for :bookmark_url do |f_ub_bu| %>
					<%= f_ub_bu.label :url, "Link  " %>
					<%= f_ub_bu.text_field :url %><br />
			  	<%= link_to 'revert', '#', class: 'revert_link  btn btn-mini btn-primary'%>
			  	<%= link_to 'save', '#', class: 'save_link btn btn-mini btn-primary' %>
				<% end %>
				<%= f.hidden_field :id %>
			<% end %>
		</div>
  	<% if !(current_user.nil?) %>
	  	<div class="move_bookmark">
	  		<div class="btn-group" data-toggle="buttons-radio">
				  <button type="button" class="btn btn-primary">Cut</button>
				  <button type="button" class="btn btn-primary">Copy</button>
				</div><br /><br /> 
	  		and Paste to<br /><br />
	  		<%= select_tag 'user_bookmark_move_paste', options_from_collection_for_select((current_user.lists-[user_bookmark.playlist,current_user.default_list]), "id","playlist_name") %><br />
	  		<%= link_to "move bookmark", '/playlists/'+@playlist.id.to_s+'/user_bookmarks/'+user_bookmark.id.to_s+'/move', class:"move_bookmark_submit", :remote => true, :method => :post, "data-type" => "json" %>
	  	</div>
  	<% end %>
  	<% if !(user_bookmark.bookmark_url.embed.nil?) %>
			<div class="modal hide fade watchModal">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal">×</button>
			    <h3 >Video</h3>
			  </div>
			  <div class="modal-body" data-embedcode="<%= user_bookmark.bookmark_url.embed %>">
			  </div>
			</div>
		<% end %>
	</div>
</div>