<div class="row-fluid">
  <div class="span4 offset2">
<h2><%= "New Bookmark for "%>
  <% if(@playlist == current_user.default_list) %>
    <%= link_to current_user.username, current_user%></h2>
  <% else %>
    <%= link_to @playlist.playlist_name, @playlist %>
  <% end %>
</h2>
<%= form_for @user_bookmark, :url => [@playlist, @user_bookmark] , :method => :post do |f|%>
  <% if @user_bookmark.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user_bookmark.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :bookmark_name %><br />
  <%= f.text_field :bookmark_name %><br /><br />
  <%= f.fields_for :bookmark_url, @bookmark_url do |f_bu| %>
    <%= f_bu.label :url %><br />
    <%= f_bu.text_field :url %>
  <% end %>
  <div class="actions">
    <%= f.submit 'Create New Bookmark' %>
  </div>
<% end %>
</div>
</div>