<div class="span3">
    <div class="well sidebar-nav hasBookmarklet">

            <div class="sidebar-title">Bookmarklet</div>
      <ul class="nav nav-list">
        <% if current_user %>
            <li><a id="bookmarklet" title="markr bookmarklet" data-toggle="tooltip" data-trigger="manual"data-title="here" href ="javascript:(function(){jq=document.createElement('SCRIPT');jq.type='text/javascript';jq.src='//afternoon-savannah-3679.herokuapp.com/jsfiles/jquery_bookmarklet.min.js';document.getElementsByTagName('head')[0].appendChild(jq);})();"><%= image_tag '/assets/glyphicons/glyphicons_072_bookmark.png', alt:"vrepo bookmarklet" %> Drag to your bookmark bar</a><li>
            </ul></div>
            <div class="well sidebar-nav">
                <div class="sidebar-title">Actions</div>
                <ul class="nav nav-list">
            <li <%= "class=active" if current_page?(username_path(current_user)) %> > <%= link_to "<i class='icon-home'></i> Home".html_safe, username_path(current_user) %></li>
            <!-- if there is a valid playlist
            make sure that the current_user owns this playlist, 
            that this is the show playlist view
            and that the playlist isnt' the default one
            -->
            <% if @playlist and @playlist.id %>
                <% if (@playlist.user == current_user) %>
                    <li><%= link_to "<i class='icon-plus'></i> Add a Bookmark".html_safe, new_playlist_user_bookmark_path(current_user.default_list), :class => "new-bookmark-modal-link" , "data-toggle"=>"tooltip", "data-trigger"=>"manual", "data-title"=>"here", "data-placement"=>"top" %></li>
                    <% if current_page?(@playlist) and @playlist != current_user.default_list %>
                        <li><%= link_to ("<i class='icon-plus'></i>  Add a Bookmark to "+@playlist.playlist_name).html_safe, new_playlist_user_bookmark_path(@playlist), :class => "new-bookmark-modal-link"%></li>
                    <% end %>
                <% end %>
            <% end %>
            <li <%= "class=active" if current_page?(new_playlist_path) %> ><%= link_to "<img src='/assets/new_playlist_icon.png'></img> Create New Playlist".html_safe, new_playlist_path%></li>
            <li class="nav-header">My Playlists</li>
            <li <%= "class=active" if current_page?(playlists_path) %> ><%= link_to "<i class='icon-list'></i> Index of All My Playlists".html_safe, playlists_path%></li>
            <% if !(current_user.lists.empty?) and (current_user.lists.first.id?) %>
                <% current_user.lists.each do |pl|%>
                    <% if pl.id %>
                        <% if pl == @playlist %>
                            <li class="active"><%=link_to(("<i class='icon-folder-open'></i> "+ pl.playlist_name).html_safe, pl )%></li>
                        <% else %>
                            <li><%=link_to(("<i class='icon-folder-close'></i> "+pl.playlist_name).html_safe, pl )%></li>
                        <% end %>
                    <% end %>
                <% end %>
            <% else %>
                <li style="font-size:12px">You don't have any playlists yet</li>
            <% end %>
        <% else %>
            <li class="nav-header">Actions</li> 
            <li><strong><%= link_to "Sign Up", signup_path  %></strong></li>
        <% end %> 
      </ul>
    </div>
</div>
